.skeleton {
    border-radius: 40px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skeleton:hover {
    transform: translateY(-5px);
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
}